*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;

}

.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice:hover{
    cursor:crosshair;
    background-color: #081b31;
}
 img{
    height: 165px;
    width: 165px;
    object-fit: cover;
    border-radius: 50%;
 }

 .choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
 }

 .score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;

 }

 #user-score,#comp-score{
    font-size: 4rem;
 }

 .msg-container{
    margin-top: 4rem;
 }

 #msg{
    background-color: #081b31;
    height: 100px;
    width: 100px;
    color: #fff;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;   
 }

 @media (max-width:600px) {
   h1{
     width: 150vw;
   }
   .choices{
      flex-wrap: wrap;
      margin-left: 10rem;
     display: flex;
     align-items: center;
     justify-content:space-evenly;
   }
    .choice{
      height:100px ;
      width: 100px;
      margin-top: 1rem;
    }
    .score-board{
      margin-left: 11rem;
    }
    .msg-container{
     margin-left: 2rem;
     
   width: 30rem;
    }
    #msg{
    padding: 1;
    font-size:20px;
    
   }
 }